<nav class="navbar navbar-default footerContainer"> 
	<div class="container-fluid"> 
		<div class="navbar-collapse collapse in" id="bs-example-navbar-collapse-7" aria-expanded="true"> 
			<ul class="nav navbar-nav ft_navTop"> 
				<li><a href="{% url 'about_2257' %}">2257</a></li> 
				<li><a href="{% url 'dmca' %}">DMCA</a></li> 
			</ul> 
			<div class="ft_navBot">
				<p><a href="#">Neryt.com</a> is rated with RTA label. Parents, it's easy to block this website. Please refer to <a href="#">http://www.rtalabel.org/index.php?content=parents/</a> for more informations.</p>
				<p class="copy_right">Copyright © Neryt.com 2017</p>
			</div>
		</div> 
	</div> 
</nav>