{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Neryt</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/media.css' %}">
	<!-- scripts -->
	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/m_jquery.js' %}"></script>
</head>
<body>
	{% include 'layouts/header.html' %}
	<div class="contentContianer">
		<div class="container-fluid">
			{% block content %}

			{% endblock %}
		</div>
	</div>

	{% block script %}

	{% endblock %}

	{% include 'layouts/footer.html' %}
</body>
</html>